In [1]:
import numpy as np # for array operations
import pandas as pd # for working with DataFrames
import requests, io # for HTTP requests and I/O commands
import matplotlib.pyplot as plt # for data visualization
%matplotlib inline

from sklearn.model_selection import train_test_split # for splitting the data
from sklearn.metrics import mean_squared_error # for calculating the cost function
from sklearn.tree import DecisionTreeRegressor # for building the model

In [2]:
df=pd.read_csv(r"C:\Users\TOLS\OneDrive - Cardiff Metropolitan University\Dissertation\DISSERTATION DATA\DISSERTATION.csv")
df.head(5)

,year,country,maize_yield,pot_yield,wheat_yield,rice_yield,Production(Maize)Tonnes,Production Potatoes(Tonnes),Production Wheat(Tonnes),Production Rice(Tonnes),solar_rad,co2,temp,precip
0,1980,United States of America,57118,295245,22513,49461,168647008,13785000,64799504,6629250,894031,2713.57,4030.5,592.2
1,1981,United States of America,68380,308199,23229,54015,206222000,15450000,75806304,8289040,894031,2723.25,4784.5,629.3
2,1982,United States of America,71082,312544,23859,52791,209180000,16108500,75251296,6968900,851000,2734.78,4563.0,681.0
3,1983,United States of America,50893,299754,26509,51532,106030000,15137600,65857904,4523200,957440,2748.52,4722.5,941.0
4,1984,United States of America,66981,311082,26073,55523,194880000,16422000,70618000,6296300,800268,2761.06,4546.8,982.0

In [3]:
df.columns

Index(['year', 'country', 'maize_yield', 'pot_yield', 'wheat_yield',
       'rice_yield', 'Production(Maize)Tonnes', 'Production Potatoes(Tonnes)',
       'Production Wheat(Tonnes)', 'Production Rice(Tonnes)', 'solar_rad',
       'co2', 'temp', 'precip'],
      dtype='object')

## DECISION TREE REGRESSION FOR MAIZE YIELD

In [4]:
dfm=df[['maize_yield', 'solar_rad', 'co2', 'temp', 'precip']]
dfm.head()

   maize_yield  solar_rad      co2    temp  precip
0        57118     894031  2713.57  4030.5   592.2
1        68380     894031  2723.25  4784.5   629.3
2        71082     851000  2734.78  4563.0   681.0
3        50893     957440  2748.52  4722.5   941.0
4        66981     800268  2761.06  4546.8   982.0

In [5]:
#Separating the features and the target variable
X = dfm.drop('maize_yield', axis = 1).values.astype(float) # Features
y = dfm[["maize_yield"]].values.astype(float) # Target
X

array([[8.940310e+05, 2.713570e+03, 4.030500e+03, 5.922000e+02],
       [8.940310e+05, 2.723250e+03, 4.784500e+03, 6.293000e+02],
       [8.510000e+05, 2.734780e+03, 4.563000e+03, 6.810000e+02],
       [9.574400e+05, 2.748520e+03, 4.722500e+03, 9.410000e+02],
       [8.002680e+05, 2.761060e+03, 4.546800e+03, 9.820000e+02],
       [9.674170e+05, 2.773180e+03, 4.747400e+03, 6.544000e+02],
       [1.014520e+06, 2.783230e+03, 4.689800e+03, 4.707000e+02],
       [1.277547e+06, 2.797010e+03, 4.622600e+03, 5.948000e+02],
       [1.063344e+06, 2.815860e+03, 4.525900e+03, 5.231000e+02],
       [1.260174e+06, 2.827570e+03, 4.573100e+03, 1.060100e+03],
       [1.279369e+06, 2.836930e+03, 4.663600e+03, 7.700000e+02],
       [1.147922e+06, 2.848460e+03, 4.877400e+03, 5.254000e+02],
       [1.106325e+06, 2.854980e+03, 4.273000e+03, 6.694000e+02],
       [1.252046e+06, 2.859600e+03, 4.590500e+03, 9.044000e+02],
       [1.273503e+06, 2.873380e+03, 4.634500e+03, 8.351000e+02],
       [1.217411e+06, 2.890150e+03, 4.784200e+03, 7.181000e+02],
       [1.319156e+06, 2.903960e+03, 4.425300e+03, 1.057600e+03],
       [1.276186e+06, 2.911980e+03, 4.425000e+03, 8.510000e+02],
       [1.189550e+06, 2.937650e+03, 4.752200e+03, 6.071000e+02],
       [1.335292e+06, 2.949720e+03, 4.630100e+03, 1.075500e+03],
       [1.354051e+06, 2.959080e+03, 4.571500e+03, 8.160000e+02],
       [1.327417e+06, 2.971860e+03, 4.529200e+03, 6.159000e+02],
       [1.367708e+06, 2.988970e+03, 4.828300e+03, 5.980000e+02],
       [1.354871e+06, 3.009970e+03, 4.416400e+03, 1.113600e+03],
       [1.317637e+06, 3.023500e+03, 4.695700e+03, 7.998000e+02],
       [1.332535e+06, 3.042310e+03, 4.662300e+03, 8.719000e+02],
       [1.355099e+06, 3.058730e+03, 4.639700e+03, 9.084000e+02],
       [1.349506e+06, 3.074300e+03, 4.834300e+03, 5.984000e+02],
       [1.399292e+06, 3.087370e+03, 4.764400e+03, 9.320000e+02],
       [1.323670e+06, 3.103000e+03, 4.509600e+03, 8.440000e+02],
       [1.397739e+06, 3.123110e+03, 5.119700e+03, 4.123000e+02],
       [1.375012e+06, 3.136080e+03, 4.833500e+03, 9.706000e+02],
       [1.402894e+06, 3.153540e+03, 5.086600e+03, 6.797000e+02],
       [1.367035e+06, 3.175630e+03, 4.687900e+03, 7.964000e+02],
       [1.322277e+06, 3.192940e+03, 4.723600e+03, 7.800000e+02],
       [1.312843e+06, 3.209110e+03, 4.895500e+03, 8.534000e+02],
       [1.374711e+06, 3.237580e+03, 4.987600e+03, 5.718000e+02],
       [1.345772e+06, 3.255780e+03, 4.918900e+03, 7.623000e+02],
       [1.387586e+06, 3.270370e+03, 4.822000e+03, 1.272700e+03],
       [1.335710e+06, 3.294460e+03, 5.043900e+03, 7.650000e+02],
       [1.278000e+06, 3.315380e+03, 4.815800e+03, 1.037800e+03],
       [1.369014e+06, 3.333470e+03, 4.961800e+03, 8.865000e+02]])

In [6]:
### Sandardization of data ###
from sklearn.preprocessing import StandardScaler
scaledX = StandardScaler()
scaledy = StandardScaler()

In [7]:
# Storing the fit object for later reference
X = scaledX.fit_transform(X)
y = scaledy.fit_transform(y)

In [8]:
# Splitting the dataset into training and testing set (80/20)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 5)

In [9]:
# Initializing the Decision Tree Regression model
model = DecisionTreeRegressor(max_depth=3, min_samples_split=5, random_state = 0)

# Fitting the Decision Tree Regression model to the data
model.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=3, min_samples_split=5, random_state=0)

In [10]:
# Predicting the target values of the test set
y_pred = model.predict(X_test)

# RMSE (Root Mean Square Error)
rmse = float(format(np.sqrt(mean_squared_error(y_test, y_pred)), '.3f'))
print("\nRMSE: ", rmse)

RMSE:  0.669

In [11]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print( "Mean Square Error :", mse)

Mean Square Error : 0.4473310903594326

In [12]:
from sklearn.metrics import mean_absolute_error as mae
error = mae(y_test, y_pred)
print("Mean absolute error : " + str(error))

Mean absolute error : 0.4935645906545388

In [13]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
r2

0.6903033052723788

## DECISION TREE RRGRESSION ANALYSIS FOR RICE YIELD

In [14]:
df.head(20)

,year,country,maize_yield,pot_yield,wheat_yield,rice_yield,Production(Maize)Tonnes,Production Potatoes(Tonnes),Production Wheat(Tonnes),Production Rice(Tonnes),solar_rad,co2,temp,precip
0,1980,United States of America,57118,295245,22513,49461,168647008,13785000,64799504,6629250,894031,2713.57,4030.5,592.2
1,1981,United States of America,68380,308199,23229,54015,206222000,15450000,75806304,8289040,894031,2723.25,4784.5,629.3
2,1982,United States of America,71082,312544,23859,52791,209180000,16108500,75251296,6968900,851000,2734.78,4563.0,681.0
3,1983,United States of America,50893,299754,26509,51532,106030000,15137600,65857904,4523200,957440,2748.52,4722.5,941.0
4,1984,United States of America,66981,311082,26073,55523,194880000,16422000,70618000,6296300,800268,2761.06,4546.8,982.0
5,1985,United States of America,74074,333689,25197,60704,225453008,18443008,65975008,6122000,967417,2773.18,4747.4,654.4
6,1986,United States of America,74930,330540,23167,63340,208943008,16408000,56897008,6049000,1014520,2783.23,4689.8,470.7
7,1987,United States of America,75225,337394,25330,62271,181142000,17659200,57361808,5879000,1277547,2797.01,4622.6,594.8
8,1988,United States of America,53109,317265,22913,61801,125194000,16167800,49320000,7253000,1063344,2815.86,4525.9,523.1
9,1989,United States of America,72978,324007,22024,64466,191319008,16803008,55428000,7007400,1260174,2827.57,4573.1,1060.1
10,1990,United States of America,74380,328809,26567,61975,201532000,18239008,74294000,7080000,1279369,2836.93,4663.6,770.0
11,1991,United States of America,68171,340579,23038,64231,189867780,18943008,53890000,7228770,1147922,2848.46,4877.4,525.4
12,1992,United States of America,82526,362533,26433,64294,240719220,19294000,67136000,8149150,1106325,2854.98,4273.0,669.4
13,1993,United States of America,63210,365091,25699,61763,160985760,19520300,65222000,7081030,1252046,2859.60,4590.5,904.4
14,1994,United States of America,86996,379868,25270,66851,255294970,21292760,63168000,8971110,1273503,2873.38,4634.5,835.1
15,1995,United States of America,71228,362537,24065,63007,187969950,20189350,59404000,7886660,1217411,2890.15,4784.2,718.1
16,1996,United States of America,79773,392447,24389,68593,234517750,22645780,61982000,7783600,1319156,2903.96,4425.3,1057.6
17,1997,United States of America,79521,386777,26574,66099,233864300,21186890,67536000,8300380,1276186,2911.98,4425.0,851.0
18,1998,United States of America,84382,384419,29034,63473,247882020,21575890,69327000,8366190,1189550,2937.65,4752.2,607.1
19,1999,United States of America,83977,402366,28726,65753,239548580,21685930,62567284,9345230,1335292,2949.72,4630.1,1075.5

In [15]:
dfr=df[['rice_yield', 'solar_rad', 'co2', 'temp', 'precip']]
dfr.head()

   rice_yield  solar_rad      co2    temp  precip
0       49461     894031  2713.57  4030.5   592.2
1       54015     894031  2723.25  4784.5   629.3
2       52791     851000  2734.78  4563.0   681.0
3       51532     957440  2748.52  4722.5   941.0
4       55523     800268  2761.06  4546.8   982.0

In [16]:
#Separating the features and the target variable
X = dfr.drop('rice_yield', axis = 1).values.astype(float) # Features
y = dfr[["rice_yield"]].values.astype(float) # Target
X

array([[8.940310e+05, 2.713570e+03, 4.030500e+03, 5.922000e+02],
       [8.940310e+05, 2.723250e+03, 4.784500e+03, 6.293000e+02],
       [8.510000e+05, 2.734780e+03, 4.563000e+03, 6.810000e+02],
       [9.574400e+05, 2.748520e+03, 4.722500e+03, 9.410000e+02],
       [8.002680e+05, 2.761060e+03, 4.546800e+03, 9.820000e+02],
       [9.674170e+05, 2.773180e+03, 4.747400e+03, 6.544000e+02],
       [1.014520e+06, 2.783230e+03, 4.689800e+03, 4.707000e+02],
       [1.277547e+06, 2.797010e+03, 4.622600e+03, 5.948000e+02],
       [1.063344e+06, 2.815860e+03, 4.525900e+03, 5.231000e+02],
       [1.260174e+06, 2.827570e+03, 4.573100e+03, 1.060100e+03],
       [1.279369e+06, 2.836930e+03, 4.663600e+03, 7.700000e+02],
       [1.147922e+06, 2.848460e+03, 4.877400e+03, 5.254000e+02],
       [1.106325e+06, 2.854980e+03, 4.273000e+03, 6.694000e+02],
       [1.252046e+06, 2.859600e+03, 4.590500e+03, 9.044000e+02],
       [1.273503e+06, 2.873380e+03, 4.634500e+03, 8.351000e+02],
       [1.217411e+06, 2.890150e+03, 4.784200e+03, 7.181000e+02],
       [1.319156e+06, 2.903960e+03, 4.425300e+03, 1.057600e+03],
       [1.276186e+06, 2.911980e+03, 4.425000e+03, 8.510000e+02],
       [1.189550e+06, 2.937650e+03, 4.752200e+03, 6.071000e+02],
       [1.335292e+06, 2.949720e+03, 4.630100e+03, 1.075500e+03],
       [1.354051e+06, 2.959080e+03, 4.571500e+03, 8.160000e+02],
       [1.327417e+06, 2.971860e+03, 4.529200e+03, 6.159000e+02],
       [1.367708e+06, 2.988970e+03, 4.828300e+03, 5.980000e+02],
       [1.354871e+06, 3.009970e+03, 4.416400e+03, 1.113600e+03],
       [1.317637e+06, 3.023500e+03, 4.695700e+03, 7.998000e+02],
       [1.332535e+06, 3.042310e+03, 4.662300e+03, 8.719000e+02],
       [1.355099e+06, 3.058730e+03, 4.639700e+03, 9.084000e+02],
       [1.349506e+06, 3.074300e+03, 4.834300e+03, 5.984000e+02],
       [1.399292e+06, 3.087370e+03, 4.764400e+03, 9.320000e+02],
       [1.323670e+06, 3.103000e+03, 4.509600e+03, 8.440000e+02],
       [1.397739e+06, 3.123110e+03, 5.119700e+03, 4.123000e+02],
       [1.375012e+06, 3.136080e+03, 4.833500e+03, 9.706000e+02],
       [1.402894e+06, 3.153540e+03, 5.086600e+03, 6.797000e+02],
       [1.367035e+06, 3.175630e+03, 4.687900e+03, 7.964000e+02],
       [1.322277e+06, 3.192940e+03, 4.723600e+03, 7.800000e+02],
       [1.312843e+06, 3.209110e+03, 4.895500e+03, 8.534000e+02],
       [1.374711e+06, 3.237580e+03, 4.987600e+03, 5.718000e+02],
       [1.345772e+06, 3.255780e+03, 4.918900e+03, 7.623000e+02],
       [1.387586e+06, 3.270370e+03, 4.822000e+03, 1.272700e+03],
       [1.335710e+06, 3.294460e+03, 5.043900e+03, 7.650000e+02],
       [1.278000e+06, 3.315380e+03, 4.815800e+03, 1.037800e+03],
       [1.369014e+06, 3.333470e+03, 4.961800e+03, 8.865000e+02]])

In [17]:
### Sandardization of data ###
from sklearn.preprocessing import StandardScaler
scaledX = StandardScaler()
scaledy = StandardScaler()

In [18]:
# Storing the fit object for later reference
X = scaledX.fit_transform(X)
y = scaledy.fit_transform(y)

In [19]:
# Splitting the dataset into training and testing set (80/20)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 5)

In [20]:
# Initializing the Decision Tree Regression model
model = DecisionTreeRegressor(max_depth=3, min_samples_split=5, random_state = 0)

# Fitting the Decision Tree Regression model to the data
model.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=3, min_samples_split=5, random_state=0)

In [21]:
# Predicting the target values of the test set
y_pred = model.predict(X_test)

# RMSE (Root Mean Square Error)
rmse = float(format(np.sqrt(mean_squared_error(y_test, y_pred)), '.3f'))
print("\nRMSE: ", rmse)

RMSE:  0.306

In [22]:
from sklearn.metrics import mean_absolute_error as mae
error = mae(y_test, y_pred)
print("Mean absolute error : " + str(error))

Mean absolute error : 0.2506665412458626

In [23]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
r2

0.9298281263821985

In [24]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print( "Mean Square Error :", mse)

Mean Square Error : 0.09372041681876316

## DECISION TREE RRGRESSION ANALYSIS FOR WHEAT YIELD

In [25]:
dfw=df[['wheat_yield', 'solar_rad', 'co2', 'temp', 'precip']]
dfw.head()

   wheat_yield  solar_rad      co2    temp  precip
0        22513     894031  2713.57  4030.5   592.2
1        23229     894031  2723.25  4784.5   629.3
2        23859     851000  2734.78  4563.0   681.0
3        26509     957440  2748.52  4722.5   941.0
4        26073     800268  2761.06  4546.8   982.0

In [26]:
#Separating the features and the target variable
X = dfw.drop('wheat_yield', axis = 1).values.astype(float) # Features
y = dfw[["wheat_yield"]].values.astype(float) # Target
X

array([[8.940310e+05, 2.713570e+03, 4.030500e+03, 5.922000e+02],
       [8.940310e+05, 2.723250e+03, 4.784500e+03, 6.293000e+02],
       [8.510000e+05, 2.734780e+03, 4.563000e+03, 6.810000e+02],
       [9.574400e+05, 2.748520e+03, 4.722500e+03, 9.410000e+02],
       [8.002680e+05, 2.761060e+03, 4.546800e+03, 9.820000e+02],
       [9.674170e+05, 2.773180e+03, 4.747400e+03, 6.544000e+02],
       [1.014520e+06, 2.783230e+03, 4.689800e+03, 4.707000e+02],
       [1.277547e+06, 2.797010e+03, 4.622600e+03, 5.948000e+02],
       [1.063344e+06, 2.815860e+03, 4.525900e+03, 5.231000e+02],
       [1.260174e+06, 2.827570e+03, 4.573100e+03, 1.060100e+03],
       [1.279369e+06, 2.836930e+03, 4.663600e+03, 7.700000e+02],
       [1.147922e+06, 2.848460e+03, 4.877400e+03, 5.254000e+02],
       [1.106325e+06, 2.854980e+03, 4.273000e+03, 6.694000e+02],
       [1.252046e+06, 2.859600e+03, 4.590500e+03, 9.044000e+02],
       [1.273503e+06, 2.873380e+03, 4.634500e+03, 8.351000e+02],
       [1.217411e+06, 2.890150e+03, 4.784200e+03, 7.181000e+02],
       [1.319156e+06, 2.903960e+03, 4.425300e+03, 1.057600e+03],
       [1.276186e+06, 2.911980e+03, 4.425000e+03, 8.510000e+02],
       [1.189550e+06, 2.937650e+03, 4.752200e+03, 6.071000e+02],
       [1.335292e+06, 2.949720e+03, 4.630100e+03, 1.075500e+03],
       [1.354051e+06, 2.959080e+03, 4.571500e+03, 8.160000e+02],
       [1.327417e+06, 2.971860e+03, 4.529200e+03, 6.159000e+02],
       [1.367708e+06, 2.988970e+03, 4.828300e+03, 5.980000e+02],
       [1.354871e+06, 3.009970e+03, 4.416400e+03, 1.113600e+03],
       [1.317637e+06, 3.023500e+03, 4.695700e+03, 7.998000e+02],
       [1.332535e+06, 3.042310e+03, 4.662300e+03, 8.719000e+02],
       [1.355099e+06, 3.058730e+03, 4.639700e+03, 9.084000e+02],
       [1.349506e+06, 3.074300e+03, 4.834300e+03, 5.984000e+02],
       [1.399292e+06, 3.087370e+03, 4.764400e+03, 9.320000e+02],
       [1.323670e+06, 3.103000e+03, 4.509600e+03, 8.440000e+02],
       [1.397739e+06, 3.123110e+03, 5.119700e+03, 4.123000e+02],
       [1.375012e+06, 3.136080e+03, 4.833500e+03, 9.706000e+02],
       [1.402894e+06, 3.153540e+03, 5.086600e+03, 6.797000e+02],
       [1.367035e+06, 3.175630e+03, 4.687900e+03, 7.964000e+02],
       [1.322277e+06, 3.192940e+03, 4.723600e+03, 7.800000e+02],
       [1.312843e+06, 3.209110e+03, 4.895500e+03, 8.534000e+02],
       [1.374711e+06, 3.237580e+03, 4.987600e+03, 5.718000e+02],
       [1.345772e+06, 3.255780e+03, 4.918900e+03, 7.623000e+02],
       [1.387586e+06, 3.270370e+03, 4.822000e+03, 1.272700e+03],
       [1.335710e+06, 3.294460e+03, 5.043900e+03, 7.650000e+02],
       [1.278000e+06, 3.315380e+03, 4.815800e+03, 1.037800e+03],
       [1.369014e+06, 3.333470e+03, 4.961800e+03, 8.865000e+02]])

In [27]:
### Sandardization of data ###
from sklearn.preprocessing import StandardScaler
scaledX = StandardScaler()
scaledy = StandardScaler()

In [28]:
# Storing the fit object for later reference
X = scaledX.fit_transform(X)
y = scaledy.fit_transform(y)

In [29]:
# Splitting the dataset into training and testing set (80/20)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 5)

In [30]:
# Initializing the Decision Tree Regression model
model = DecisionTreeRegressor(max_depth=3, min_samples_split=5, random_state = 0)

# Fitting the Decision Tree Regression model to the data
model.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=3, min_samples_split=5, random_state=0)

In [31]:
# Predicting the target values of the test set
y_pred = model.predict(X_test)

# RMSE (Root Mean Square Error)
rmse = float(format(np.sqrt(mean_squared_error(y_test, y_pred)), '.3f'))
print("\nRMSE: ", rmse)

RMSE:  0.862

In [32]:
from sklearn.metrics import mean_absolute_error as mae
error = mae(y_test, y_pred)
print("Mean absolute error : " + str(error))

Mean absolute error : 0.6701035735525548

In [33]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
r2

0.28191237999880536

In [34]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print( "Mean Square Error :", mse)

Mean Square Error : 0.7433924998733519

## DECISION TREE RRGRESSION ANALYSIS FOR POTATO YIELD

In [35]:
dfp=df[['pot_yield', 'solar_rad', 'co2', 'temp', 'precip']]
dfp.head()

   pot_yield  solar_rad      co2    temp  precip
0     295245     894031  2713.57  4030.5   592.2
1     308199     894031  2723.25  4784.5   629.3
2     312544     851000  2734.78  4563.0   681.0
3     299754     957440  2748.52  4722.5   941.0
4     311082     800268  2761.06  4546.8   982.0

In [36]:
#Separating the features and the target variable
X = dfp.drop('pot_yield', axis = 1).values.astype(float) # Features
y = dfp[["pot_yield"]].values.astype(float) # Target
X

array([[8.940310e+05, 2.713570e+03, 4.030500e+03, 5.922000e+02],
       [8.940310e+05, 2.723250e+03, 4.784500e+03, 6.293000e+02],
       [8.510000e+05, 2.734780e+03, 4.563000e+03, 6.810000e+02],
       [9.574400e+05, 2.748520e+03, 4.722500e+03, 9.410000e+02],
       [8.002680e+05, 2.761060e+03, 4.546800e+03, 9.820000e+02],
       [9.674170e+05, 2.773180e+03, 4.747400e+03, 6.544000e+02],
       [1.014520e+06, 2.783230e+03, 4.689800e+03, 4.707000e+02],
       [1.277547e+06, 2.797010e+03, 4.622600e+03, 5.948000e+02],
       [1.063344e+06, 2.815860e+03, 4.525900e+03, 5.231000e+02],
       [1.260174e+06, 2.827570e+03, 4.573100e+03, 1.060100e+03],
       [1.279369e+06, 2.836930e+03, 4.663600e+03, 7.700000e+02],
       [1.147922e+06, 2.848460e+03, 4.877400e+03, 5.254000e+02],
       [1.106325e+06, 2.854980e+03, 4.273000e+03, 6.694000e+02],
       [1.252046e+06, 2.859600e+03, 4.590500e+03, 9.044000e+02],
       [1.273503e+06, 2.873380e+03, 4.634500e+03, 8.351000e+02],
       [1.217411e+06, 2.890150e+03, 4.784200e+03, 7.181000e+02],
       [1.319156e+06, 2.903960e+03, 4.425300e+03, 1.057600e+03],
       [1.276186e+06, 2.911980e+03, 4.425000e+03, 8.510000e+02],
       [1.189550e+06, 2.937650e+03, 4.752200e+03, 6.071000e+02],
       [1.335292e+06, 2.949720e+03, 4.630100e+03, 1.075500e+03],
       [1.354051e+06, 2.959080e+03, 4.571500e+03, 8.160000e+02],
       [1.327417e+06, 2.971860e+03, 4.529200e+03, 6.159000e+02],
       [1.367708e+06, 2.988970e+03, 4.828300e+03, 5.980000e+02],
       [1.354871e+06, 3.009970e+03, 4.416400e+03, 1.113600e+03],
       [1.317637e+06, 3.023500e+03, 4.695700e+03, 7.998000e+02],
       [1.332535e+06, 3.042310e+03, 4.662300e+03, 8.719000e+02],
       [1.355099e+06, 3.058730e+03, 4.639700e+03, 9.084000e+02],
       [1.349506e+06, 3.074300e+03, 4.834300e+03, 5.984000e+02],
       [1.399292e+06, 3.087370e+03, 4.764400e+03, 9.320000e+02],
       [1.323670e+06, 3.103000e+03, 4.509600e+03, 8.440000e+02],
       [1.397739e+06, 3.123110e+03, 5.119700e+03, 4.123000e+02],
       [1.375012e+06, 3.136080e+03, 4.833500e+03, 9.706000e+02],
       [1.402894e+06, 3.153540e+03, 5.086600e+03, 6.797000e+02],
       [1.367035e+06, 3.175630e+03, 4.687900e+03, 7.964000e+02],
       [1.322277e+06, 3.192940e+03, 4.723600e+03, 7.800000e+02],
       [1.312843e+06, 3.209110e+03, 4.895500e+03, 8.534000e+02],
       [1.374711e+06, 3.237580e+03, 4.987600e+03, 5.718000e+02],
       [1.345772e+06, 3.255780e+03, 4.918900e+03, 7.623000e+02],
       [1.387586e+06, 3.270370e+03, 4.822000e+03, 1.272700e+03],
       [1.335710e+06, 3.294460e+03, 5.043900e+03, 7.650000e+02],
       [1.278000e+06, 3.315380e+03, 4.815800e+03, 1.037800e+03],
       [1.369014e+06, 3.333470e+03, 4.961800e+03, 8.865000e+02]])

In [37]:
### Sandardization of data ###
from sklearn.preprocessing import StandardScaler
scaledX = StandardScaler()
scaledy = StandardScaler()

In [38]:
# Storing the fit object for later reference
X = scaledX.fit_transform(X)
y = scaledy.fit_transform(y)

In [39]:
# Splitting the dataset into training and testing set (80/20)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 5)

In [40]:
# Initializing the Decision Tree Regression model
model = DecisionTreeRegressor(max_depth=3, min_samples_split=5, random_state = 0)

# Fitting the Decision Tree Regression model to the data
model.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=3, min_samples_split=5, random_state=0)

In [41]:
# Predicting the target values of the test set
y_pred = model.predict(X_test)

# RMSE (Root Mean Square Error)
rmse = float(format(np.sqrt(mean_squared_error(y_test, y_pred)), '.3f'))
print("\nRMSE: ", rmse)

RMSE:  0.237

In [42]:
from sklearn.metrics import mean_absolute_error as mae
error = mae(y_test, y_pred)
print("Mean absolute error : " + str(error))

Mean absolute error : 0.19218788402125228

In [43]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
r2

0.9556231167695265

In [44]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print( "Mean Square Error :", mse)

Mean Square Error : 0.05600584805038207